.warmup {
    color: #A9A9A9;
    font-style: italic;
    margin: 0 auto 30px auto;
}

.grey {
    color: #A9A9A9;
    font-style: italic;
    margin-bottom: 10px;

    ion-label {
        margin-right: 10px;
    }
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(59, 53, 97, 0.6);
}